.overlay-pages{
    min-height: 70vh;
    background: linear-gradient(to left, rgba(31, 69, 120, 1), rgba(36, 79, 135, 1));
}

.btn-page{
padding: 13px 47px;
background-color: #16aeca;
color: #fff;
font-size: 18px;
border-radius: 30px;
text-decoration: none;
transition: all 0.5s ease;
}

.btn-page:hover{
    background-color: #dae413;
    color: #555;
}

.ser-tilte{
    color: #effdff  !important;
    font-weight: bold;
    font-size: 25px;
}

.ser-p {
    margin-bottom: 50px;
    color: azure;
    line-height: 35px;
    font-size: 17px;
}

.all-sec{
    margin-bottom: 150px;
  
    
}
.vector-page{
    width: 400px;
    margin-right: 90px;
}


section.features {
    padding: 200px 0 0px 0;
}

section.features h2 {
    font-size: 45px;
    color: #555;
    margin-bottom: 50px;
}

section.features .row .d-flex {
    padding: 40px 10px;
    margin-bottom: 20px;
    max-height: 190px;
}

section.features .row .d-flex h4 {
    font-size: 24px;
    color: #555;
}

section.features .row .d-flex p {
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}



.nav-link {
    padding: 0;
}






@media only screen and (max-width: 600px) {


 .all-sec{
    padding: 0 15px;
    text-align: center;
    margin-bottom: 0;
    
 }

 .vector-page{
    margin-right: 0px;
    padding: 50px 0;
    width: 270px;

 }

 .section.features{
    padding: 200px 0 1px 0 !important;
 }

 section.features h2{
    font-size: 35px;

 }

 .ser-p {
    line-height: 30px;
 }

 


}


